/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
    margin: 0%;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: white!important;
}


.mat-sufix-ico:hover {
  cursor: pointer;
}