.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.projets-header-row {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 1fr auto;
}

.mat-h1{
  grid-area: a;
  align-self: center;
  justify-self: left;
}

.btn-create-proj{
  grid-area: b;
  margin: 20px;
}

.project-card-content {
  height: 90%;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.down-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.up-row {
  display: grid;
  align-items: center;
  justify-items: center;
}

.progress-margin {
  margin: 10px;
}

.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.project-title {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.title {
  justify-self: center;
  align-self: center;
}