<div class="grid-container">
  <div class="projets-header-row">
    <h1 class="mat-h1">Projects list</h1>
    <button mat-raised-button color="primary" (click)="createProjectDialogOpen()" class="btn-create-proj">
      Create project
    </button>

  </div>

  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile *ngFor="let project of projects | async" [colspan]="project.cols" [rowspan]="project.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{project.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>