<div class="project-details-container">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>
        <h3>{{projectWithEmployees.project.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="project-card-content">

      <mat-form-field class="estimated-time">
        <input disabled="true" matInput placeholder="Estimated Time"
          [value]="projectWithEmployees.project.estimatedTime | date">
      </mat-form-field>

      <mat-form-field>
        <input disabled="true" matInput placeholder="Date Created"
          [value]="projectWithEmployees.project.dateCreated | date">
      </mat-form-field>

      <section class="progress-section">
        <mat-slider class="slider-progress" thumbLabel="true" [(ngModel)]="progress">
        </mat-slider>
      </section>

      <button class="save-button" *ngIf="isDirty" mat-raised-button color="primary">Save</button>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-tab-group>
      <mat-tab label="People">
        Peoples
      </mat-tab>
      <mat-tab label="Tasks">
          <div class="your-tasks-container">
              <mat-list dense>
                <mat-list-item class="list-item" *ngFor="let task of tasks | async">
                  <div class="one-task">
                    <mat-icon class="icon" mat-list-icon>assignment</mat-icon>
                    <div class="name-es-time-container">
                      <p mat-line class="name">{{task.name}}</p>
                      <p mat-line class="estimated-time"> {{task.estimatedTime | date}} </p>
                    </div>
                    <span class="type">{{taskType[task.type]}}</span>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div>