.login-container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". . ."
                         ". a ."
                         ". . ."
  }

  .login-card{
    justify-self: center;
    align-self: center;
    grid-area: a;
    display: grid;
  }
  .btn-login {
    color: white;
    float: right;
  }
  .username-input{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    width: 250px !important;
  }
  .password-input {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 30px;
    width: 250px !important;
  }

  .mat-sufix-ico {
    color: #b3b3b3;
    cursor: pointer;
  }
  .error-message {
    color: red;
    font-size: 13px;
  }