.login-container {
    display: grid;
    height: 100vh;
  }

  .login-card{   
    justify-self: center;
    align-self: center;
  }

.form-card-group{
  display: grid;
}

  .btn-login {
    color: white;
    float: right;
  }
  .username-input{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    width: 250px !important;
  }
  .password-input {
    margin-top: 10px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 30px;
    width: 250px !important;
  }

  .mat-sufix-ico {
    color: #b3b3b3;
    cursor: pointer;
  }
  .error-message {
    padding-left: 20px;
    font-size: 11.25px;
  }



